agentic/extras/n8n-wf/email_weekly_report.json
{
  "name": "Email Classification Weekly Report",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "get-classifications",
      "name": "Get Last 7 Days",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [220, 0],
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "REPLACE_WITH_DATA_TABLE_ID"
        },
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "classified_at",
              "condition": "gte",
              "keyValue": "={{ $now.minus({days: 7}).toISO() }}"
            }
          ]
        }
      }
    },
    {
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get all classified emails from the data table\nconst items = $input.all();\n\n// Count by category\nconst marketing = items.filter(i => i.json.category === 'Marketing');\nconst expenses = items.filter(i => i.json.category === 'Expenses');\n\n// Get date range\nconst now = new Date();\nconst weekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\nconst formatDate = (d) => d.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });\n\n// Count senders for marketing emails\nconst marketingSenders = {};\nmarketing.forEach(item => {\n  const sender = item.json.from_address || 'Unknown';\n  marketingSenders[sender] = (marketingSenders[sender] || 0) + 1;\n});\n\n// Sort and get top 5 marketing senders\nconst topMarketingSenders = Object.entries(marketingSenders)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([sender, count]) => `  - ${sender} (${count})`)\n  .join('\\n') || '  None this week';\n\n// List expense emails\nconst expenseList = expenses\n  .slice(0, 10)\n  .map(item => `  - ${item.json.subject || 'No subject'} (${item.json.from_name || item.json.from_address})`)\n  .join('\\n') || '  None this week';\n\n// Build report message\nconst report = `*Weekly Email Classification Report*\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*Summary (${formatDate(weekAgo)} - ${formatDate(now)})*\n• Marketing: ${marketing.length} emails\n• Expenses/Receipts: ${expenses.length} emails\n\n*Top Marketing Senders:*\n${topMarketingSenders}\n\n*Recent Expenses:*\n${expenseList}\n\n_Processed ${items.length} total emails this week_`;\n\nreturn [{ json: { report, totalCount: items.length, marketingCount: marketing.length, expensesCount: expenses.length } }];"
      }
    },
    {
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [660, 0],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_SLACK_CHANNEL_ID"
        },
        "messageType": "text",
        "text": "={{ $json.report }}",
        "otherOptions": {
          "mrkdwn": true
        }
      }
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Get Last 7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last 7 Days": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
